////////////////////////////////////
/////////// ALERTS VIEW ////////////
////////////////////////////////////
#alerts-view {
	background-color: rgba($darken, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in;
	z-index: 50;
	.view-inner {
		max-width: unset;
		display: flex;
		align-content: center;
	}
}
.alert {
	width: 600px;
	padding: 30px 40px;
	margin: auto;
	background-color: $darken;
	color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
  justify-content: center;
	position: relative;
	&.big {
		width: 100%;
		height: 100%;
		background-color: $orange;
		border-radius: 0;
		.message, .alert-buttons {
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
		}
	}
	&:not(.show) {
		display: none;
	}
	p {
		margin: 0 0 25px 0;
	}
	@include sm-width {
		width: 100%;
		height: 100%;
		border-radius: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.alert-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	&:focus {
		outline: none;
	}
	.button{
		margin: 0 10px;
	}
}
button {
	border-width: 0;
	background-color: transparent;
	@include md-text;
	&:hover {
		cursor: pointer;
	}
}
.button {
	display: table;
	padding: 5px 20px;
	border: 2px solid;
	border-radius: 5px;
	color: inherit;
	background-color: transparent;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

#message-select-intro {
	text-align: center;
}

#message-streams-intro {
	width: 100%;
	max-width: 700px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
}
.col {
	width: 50%;
	padding: 0 30px;
	position: relative;
	@include md-width {
		width: 100%;
		margin: 15px 0;
	}
}
#help-grid {
	margin: 0 0 60px 0;
	.col {
		display: flex;
	  justify-content: flex-end;
	}
	.progress {
		margin: auto;
    position: relative;
    top: unset;
    left: unset;
	}
	.factoid-tab {
		position: relative;
		top: unset;
		left: unset;
		right: 7px;
	}
	.help-audio-buttons {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		margin-left: 10px;
		&:last-child .audio-button {
			background-position-y: bottom;
		}
	}
	.audio-button {
		float: right;
	}
}


// #intro-view {
// 	display: none !important;
// }
// #alerts-view {
// 	display: block !important;
// 	opacity: 1 !important;
// 	pointer-events: all !important;
// }
// #alert-streams-end {
// 	display: flex !important;
// 	opacity: 1 !important;
// }

#alert-streams-end {
	[role="menu"] {
		text-align: center;
	}
	a {
		display: block;
		text-transform: lowercase;
		text-decoration: none;
	}
}
#message-streams-end {
	display: block;
	.button {
		margin: 20px 0 0 0;
	}
}
#selected-item {
	width: 100%;
	max-width: 300px;
	margin: auto;
}