////////////////////////////////////
/////////// ALERTS VIEW ////////////
////////////////////////////////////
#alerts-view {
	background-color: rgba($darken, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms ease-in-out;
	z-index: 50;
	.view-inner {
		max-width: unset;
		display: flex;
		align-content: center;
	}
}
.alert {
	padding: 30px 40px;
	margin: auto;
	background-color: $darken;
	color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
  justify-content: center;
	position: relative;
	transition: opacity 500ms ease-in;
	.message, .alert-buttons {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	&.big {
		width: 100%;
		height: 100%;
		background-color: $orange;
		border-radius: 0;
	}
	&:not(.show) {
		@include hide;
		opacity: 0;
		pointer-events: none;
	}
	p {
		margin: 0 0 25px 0;
	}
	@include sm-width {
		width: 100%;
		height: 100%;
		padding: 10px;
		display: block;
		border-radius: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.alert-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	&:focus {
		outline: none;
	}
	.button{
		margin: 0 10px;
	}
}
button {
	border-width: 0;
	background-color: transparent;
	@include md-text;
	&:hover {
		cursor: pointer;
	}
}
.button {
	display: table;
	padding: 5px 20px;
	border: 2px solid;
	border-radius: 5px;
	color: inherit;
	background-color: transparent;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

#message-select-intro {

}

#message-streams-intro {
	width: 100%;
	max-width: 700px;
	body#streams & .alert-buttons {
		display: none;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
}
.col {
	width: 50%;
	padding: 0 30px;
	position: relative;
	@include sm-width {
		width: 100%;
		margin: 15px 0;
		padding: 0;
		text-align: center;
	}
}
#help-grid {
	margin: 0 0 60px 0;
	.col {
		display: flex;
	  justify-content: flex-end;
	  @include sm-width {
	  	justify-content: center;
	  }
	}
	.progress {
		margin: auto;
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
	}
	.factoid-tab {
		position: relative;
		top: unset;
		left: unset;
		right: 7px;
	}
	.help-audio-buttons {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		margin-left: 10px;
		&:last-child .audio-button {
			background-position-y: bottom;
		}
	}
	.audio-button {
		float: right;
	}
}

#alert-select {
	.alert-buttons {
		display: block;
	}
	.button {
		margin: 0 auto 10px auto;
	}
}

#alert-streams-end {
	[role="menu"] {
		text-align: center;
	}
	h2, h3, a {
		text-transform: lowercase;
	}
	a {
		display: block;
		text-decoration: none;
	}
}
#message-streams-end {
	max-width: 900px;
	.col:first-child {
		display: flex;
	}
	.alert-buttons {
		display: block;
	}
	.button {
		width: 260px;
		margin: 20px 0 0 0;
	}
}
#selected-item {
	width: auto;
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin: auto;
}
#menu-resources {
	display: table;
	margin: auto;
}
#message-menu-resources {
	margin: 15px 0;
}