@mixin animate {
  .scene.animate & {
    @content;
  }
}

//SCENE ANIMATIONS
@keyframes garage {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hand {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes weighing {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(-20%);
  }
  32% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-90%);
  }
  50.1% {
    transform: rotateY(180deg) translateX(90%) translateY(41%);
  }
  80% {
    transform: rotateY(180deg) translateX(-120%) translateY(41%);
  }
  82% {
    transform: rotateY(180deg) translateX(-120%) translateY(41%);
  }
  100% {
    transform: rotateY(180deg) translateX(-200%) translateY(41%);
  }
}

@keyframes return-item {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close-view {
  0% {
    left: 0;
    opacity: 1;
  }
  99% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: -9999999px;
    opacity: 0;
  }
}

@keyframes open-view {
  0% {
    left: -9999999px;
    opacity: 0;
  }
  1% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
