////////////////////////////////////
//////////// INTRO VIEW ////////////
////////////////////////////////////
#site-title {
	width: 50%;
	float: left;
	@include lg-text;
}
#intro-selection-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	display: flex;
	align-content: center;
	@include lg-text;
}
#intro-selection {
	width: 100%;
	display: table;
	margin: auto;
}
#intro-title {
	width: 60%;
	max-height: 50vh;
	display: block;
	margin: auto;
	background-image: url(../images/title.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	span {
		@include hide;
	}
	@include md-width {
		width: calc(100% - 20px);
	}
}
#intro-title-spacer {
	width: 100%;
	padding-bottom: 69%;
	opacity: 0;
	@include sm-width {
		padding-bottom: 50%;
	}
}
// #intro-title-image-wrap {
// 	width: 100%;
// 	height: 100%;
// 	max-width: calc(50vh / .69);
// 	padding-bottom: 69%;
// 	display: block;
// 	margin: auto;
// 	position: relative;
// }
// #intro-title-image {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	margin: auto;
// }
#intro-tagline {
	margin: auto;
	padding: 20px 20px 0 20px;
	text-align: center;
	@include lg-text;
	@include md-width {
		max-width: 420px;
	}
	@include sm-width {
		max-width: 330px;
	}
}
#intro-bottom {
	position: relative;
}
#loading {
	width: 300px;
	height: 150px;
	position: absolute;
	left: 0px;
	top: -50px;
	z-index: 1;
	transform: translateX(-300px);
	text-align: center;
	// pointer-events: none;
	background-image: url(../images/loading.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	user-select: none;
	span {
		position: absolute;
		left: 100px;
    top: 45px;
		color: black;
		text-transform: lowercase;
		font-weight: bold;
		@include lg-text;
		animation: blinking 1s infinite;
	}
	body.loading & {
		animation: driveIn 4s ease-out 1 forwards;
	}
	body.loaded & {
		animation: driveOut 4s ease-in 1 forwards;
	}
	@include sm-width {

	}
	// .view:not(.loading) & {
		// animation: driveOut 2s ease-in 1 forwards;
	// 	transform: translateX(100vw);
	// 	span {
	// 		opacity: 0;
	// 		animation-play-state: paused;
	// 		transition: opacity 2000ms ease-in-out;
	// 	}
	// }
}

@keyframes driveIn {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(calc(50vw - 150px));
	}
}

@keyframes driveOut {
	0% {
		transform: translateX(calc(50vw - 150px));
	}
	100% {
		transform: translateX(calc(100vw + 300px));
	}
}

@keyframes blinking {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: .75;
	}
}

#intro-button {
	font-weight: bold;
	border-radius: 5px;
	margin: 60px auto 0 auto;
	transition: opacity 100ms $ease;
	opacity: 0;
	pointer-events: none;
	body.loaded & {
		opacity: 1;
		pointer-events: all;
	}
}