#alert-select {
	display: table;
	margin: auto;
	body.alerts & {
		display: none !important;
	}
	@include sm-width {
		position: static !important;
		left: unset !important;
		opacity: 1 !important;
		pointer-events: all !important;
	}
}

#select-view {
	.view-inner {
		display: flex;
		padding: 90px 30px 100px 30px;
		@include sm-width {
			padding-left: 20px;
			padding-right: 20px;
			display: flex;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
	#select-intro & {
		opacity: 1;
		transition: none;
	}
	svg {
		width: auto;
		height: 100%;
	}
}
.bins-wrap {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	flex: 1;
	pointer-events: none;
	transform: translateY(400px);
	transition: transform 600ms ease-in-out;
	#select-intro & {
		position: fixed;
		transition-delay: 600ms;
		&#bins {
			z-index: 60;
		}
		&#bins-back {
			z-index: 61;
		}
	}
	#select &,
	#select-intro & {
		transform: translateY(0px);
	}
}
#bins {
	z-index: 30;
	body.intro & {
		display: none;
	}
}
#bin-backs {
	z-index: 10;
}
.bin {
	width: 250px;
	height: 300px;
	margin: 0 15px 0 15px;
	transform: translateY(30px);
	position: relative;
	float: left;
	transition: transform 100ms ease-in;
	pointer-events: none;
	img {
		width: 250px;
		height: auto;
		position: absolute;
		left: 0;
		transform: translate3d(0, 0, 0);
	}
	body.intro & {
		transform: translateY(100%);
		transition: all 500ms ease-in;
	}
}
.bin-front {
	bottom: 0;
}
.bin-lid {
	position: absolute;
	bottom: 122px;
	transition: transform 400ms ease;
}
.bin-back {
	bottom: 45%;
}

$bins: ("paper", "mgp", "landfill");

@each $bin in $bins {
	[data-bin="#{$bin}"] .bin.#{$bin} {
		transform: translateX(1px);
		.bin-lid {
			transform: translateX(100px) translateY(-60px) rotate(45deg);
		}
	}
}

#items-wrap {
	width: 100%;
	height: 100% !important;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
	touch-action: none;
	user-select: none;
	body#select & {
		opacity: 1;
	}
}

#stamp {
	width: 220px;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	pointer-events: none;
	text-align: center;
}
#message-select-persist {
	position: fixed;
	top: 27px;
	z-index: 40;
	pointer-events: none;
	@include md-width {
		width: 300px
	}
}
.item {
	position: absolute !important;
	height: auto;
	z-index: 20 !important;
	cursor: pointer;
	img {
		width: 100%;
		height: auto;
	}
	:not(.dragging) &.hovering {
		z-index: 31 !important;
	}
	.dragging &.hovering {
		z-index: 22 !important;
	}
	.dragging & .tooltip,
	&.dropping .tooltip,
	&.opening .tooltip,
	&.returning .tooltip {
		opacity: 0 !important;
	}
	&.returning, &.dropping {
		// transition-duration: 0ms !important; 
		// transition: left 300ms ease-in-out, top 300ms ease-in-out;
	}
}
#intro .item {
	pointer-events: none;
}
////////////////////////////////////
//////////// TOOLTIPS //////////////
////////////////////////////////////
.tooltip {
	.item & {
		width: 340px;
		left: calc(50% - 170px);
	}
	.item.top & {
		opacity: 0 !important;
	}
	body:not(.dragging) .item.hovering & {
		opacity: 1;
	}
}
.tooltip-inner {
	.item & {
		width: 330px;
		padding: 15px 20px 20px 20px;
	}
}
.tooltip-arrow {
	.item & {
		font-size: 20px;
	}
	.item.top {
		top: unset;
		bottom: 0;
		transform: rotate(180deg);
	}
}


$items: (
	"aluminum-foil": 6,
	"broken-glass": 13,
	"cardboard": 15,
	"chip-bag": 8,
	"detergent-bottle": 9,
	"food-can": 5,
	"glass-bottles": 9,
	"glass-jar": 7,
	"milk-carton": 8,
	"newspaper": 13,
	"plastic-bag": 14,
	"plastic-bottle": 6,
	"soda-can": 5,
	"toothpaste": 10,
);

@each $name, $scale in $items {
	[data-item="#{$name}"] {
		width: $scale * 1%;
		@include lg-width {
			width: #{$scale * 1% / 2};
			min-width: #{$scale * 10px};
		}
	}
}
