#select-view {
  .view-inner {
    padding: 55px 30px 100px 30px;
  }
  svg {
    width: auto;
    height: 100%;
  }
}
.bins-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex: 1;
  pointer-events: none;
  transition: transform 300ms ease-in-out;
}
#bins {
  z-index: 30;
  body.intro & {
    display: none;
  }
}
#bin-backs {
  z-index: 10;
}
.bin {
  width: 250px;
  height: 300px;
  margin: 0 15px 0 15px;
  transform: translateY(30px);
  position: relative;
  float: left;
  transition: transform 100ms ease-in;
  pointer-events: none;
  img {
    width: 250px;
    height: auto;
    position: absolute;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  &.open {
    transform: translateY(1px);
  }
  body.intro & {
    transform: translateY(100%);
    transition: all 500ms ease-in;
  }
  @include sm-height {
    width: 150px;
    height: 200px;
    transform: translateY(50px);
    &.open {
      transform: translateY(30px);
    }
  }
}
.bin-front {
  bottom: 0;
}
.bin-lid {
  position: absolute;
  bottom: 122px;
  transition: transform 400ms ease;
  @include sm-height {
    bottom: 73px;
  }
}
.bin-back {
  bottom: 45%;
  @include sm-height {
    bottom: 81px;
  }
}
.bin.open .bin-lid {
  transform: translateX(100px) translateY(-60px) rotate(45deg);
}

#items-wrap {
  width: 100%;
  height: 100% !important;
  // padding: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  touch-action: none;
  user-select: none;
  body#select & {
    opacity: 1;
  }
}

#stamp {
  position: fixed;
  top: 15px;
}
.item {
  position: absolute !important;
  height: auto;
  z-index: 20 !important;
  cursor: pointer;
  transition: opacity 300ms ease-in;
  img {
    width: 100%;
    height: auto;
  }
  :not(.dragging) &.hovering {
    z-index: 31 !important;
  }
  .dragging &.hovering {
    z-index: 22 !important;
  }
  .dragging & .tooltip,
  &.dropping .tooltip,
  &.opening .tooltip,
  &.returning .tooltip {
    opacity: 0 !important;
  }
  .static & {
    transition-duration: 0ms !important; 
  }
}
#intro .item {
  pointer-events: none;
}
////////////////////////////////////
//////////// TOOLTIPS //////////////
////////////////////////////////////
.tooltip {
  width: 340px;
  position: absolute;
  top: calc(100% - 1px);
  left: calc(50% - 170px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out, top 100ms ease-in-out;
  body:not(.dragging) .item.hovering & {
    opacity: 1;
  }
  .top & {
    opacity: 0 !important;
  }
}
.tooltip-inner {
  width: 330px;
  padding: 15px 20px 20px 20px;
  margin: 20px 5px;
  background-color: $darken;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  p {
    @include sm-text;
    margin: 5px 0 0 0;
  }
}
.tooltip-arrow {
  width: 20px;
  height: 20px;
  display: table;
  margin: auto;
  border-radius: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $darken;
  position: absolute;
  z-index: 21;
  .item & {
    left: calc(50% - 20px);
    top: 0px;
  }
  .scene & {
    left: 100%;
    top: 70px;
  }
  .item.top & {
    top: unset;
    bottom: 0;
    transform: rotate(180deg);
  }
  .scene .left & {
    left: calc(100% - 30px);
    transform: rotate(90deg);
  }
  .scene .right & {
    left: -10px;
    transform: rotate(-90deg);
  }
}


$items: (
  "aluminum-foil": 6,
  "broken-glass": 13,
  "cardboard": 15,
  "chip-bag": 8,
  "detergent-bottle": 9,
  "food-can": 5,
  "glass-bottles": 9,
  "glass-jar": 7,
  "milk-carton": 8,
  "newspaper": 13,
  "plastic-bag": 14,
  "plastic-bottle": 6,
  "soda-can": 5,
  "toothpaste": 10,
);

@each $name, $scale in $items {
  [data-item="#{$name}"] {
    width: $scale * 1%;
    @include lg-width {
      width: #{$scale * 1% / 2};
      min-width: #{$scale * 10px};
    }
  }
}
