////////////////////////////////////
/////////// STREAMS VIEW ///////////
////////////////////////////////////
#streams-view.view {
	.view-inner {
		min-width: 100%;
		max-width: 100%;
	}
}
.stream {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	&:not(.show) {
		opacity: 0;
		pointer-events: none;
	}
}

#restart-menu {
	width: 80px;
	height: 70px;
	position: absolute;
	left: 15px;
	top: 30px;
	z-index: 60;
}
.restart-button {
	width: 80px;
	height: 70px;
	cursor: pointer;
	position: relative;
	img {
		width: 50px;
		height: auto;
		display: block;
	}
	div {
		position: absolute;
		left: 15px;
		top: 0;
		transition: transform 300ms ease-in-out;
		// &:nth-child(1) {
		// 	transform: translateX(-10px) rotate(-10deg);
		// }
		// &:nth-child(2) {
		// 	transform: translateX(10px) rotate(10deg);
		// }
		&:nth-child(3)::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 10px;
			background-image: url(../images/restart.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px;
		}
	}
	&:hover {
		div:nth-child(1) {
			transform: translate3d(-20px, -5px, 0) rotate(-30deg);
		}
		div:nth-child(2) {
			transform: translate3d(20px, -5px, 0) rotate(30deg);
		}
		div:nth-child(3) {
			transform: translateY(-5px);
		}
	}
}

.progress {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 80;
	transition: opacity 300ms ease-in-out,
							transform 300ms ease-in-out;
	body.alerts .stream &,
	.stream:not(.show) & {
		transform: translateY(-100px);
		@include md-width {
			transform: none;
		}
	}
}
.ticks-wrap {
	width: calc(100% - 200px);
	height: 16px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	@include md-width {
		width: 100%;
	}
	@include sm-width {
		height: 8px;
	}
}
.tick {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background-color: white;
	opacity: .5;
	border-radius: 50%;
	position: relative;
	pointer-events: all;
	cursor: pointer;
	transition: opacity 300ms ease-in-out;
	.tooltip {
		transform: translate(calc(-50% + 8px), 10px);
		// position: absolute;
		// top: 25px;
		// left: 0px;
		// opacity: 0;
		// color: white;
		// white-space: nowrap;
		// pointer-events: none;
		// transition: opacity 300ms ease-in-out;
		// text-transform: lowercase;
	}
	&:last-of-type .tooltip,
	&:nth-last-of-type(1) .tooltip {
		// left: auto;
		// right: 0;
	}
	&:hover,
	&:hover .tooltip {
		opacity: 1;
	}
	&.active {
		opacity: 1;
	}
	.tooltip-arrow {
		font-size: 10px;
	}
	.tooltip-inner {
		padding: 5px 15px;
		white-space: nowrap;
	}
	@include sm-width {
		width: 8px;
		height: 8px;
	}
}

audio {
	display: none;
}

////////////////////////////////////
////////////// SCENES //////////////
////////////////////////////////////
.scene {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 40;
	display: flex;
	user-select: none;
	transition: opacity 300ms ease-in, background 300ms ease-in;
	opacity: 0;
	pointer-events: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
	.svg-wrap {
		width: 100%;
		overflow: hidden;
		position: relative;
		&.width {
			display: flex;
			svg {
				width: 100% !important;
				height: auto !important;
				margin-top: calc(((100vw / 1.75) - 100vh) / -2) !important;
			}
		}
		&.height {
			svg {
				width: auto !important;
				height: 100% !important;
				margin-left: calc(((100vh * 1.75) - 100vw) / -2) !important;
			}
		}
		@include sm-width {
			&.width, &.height {
				height: 50vh !important;
				svg {
					width: 100% !important;
					margin: auto !important;
				}
			}
		}
	}
	img {
		width: auto;
		height: 100%;
		display: block;
		margin: auto;
	}
	svg {
		height: unset;
		display: block;
		margin: auto;
	}
	body#streams &.show {
		opacity: 1;
		pointer-events: all;
	}
	&::before {
		content: "";
		width: 30px;
		height: 30px;
		border: 10px solid;
		border-color: white white transparent white;
		border-radius: 50%;
		position: absolute;
		left: calc(50% - 25px);
		top: calc(50% - 25px);
		z-index: 1;
		animation: loading 1s linear infinite;
		pointer-events: none;
		@include md-width {
			margin-top: -100px;
		}
		@include sm-width {
			margin-top: -25vh;
		}
	}
	&.loaded::before {
		opacity: 0;
	}
}

@keyframes loading {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


////////////////////////////////////
///////////// CHYRONS //////////////
////////////////////////////////////
.chyron-wrap-wrap {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 20px;
	z-index: 50;
	color: white;
	pointer-events: none;
	transform: translateY(calc(100% + 50px));
	transition: transform 300ms ease-in-out;
	body#streams:not(.alerts) .stream:not(.ending).show & {
		transform: translateY(0);
		pointer-events: all;
	}
	@include md-width {
		bottom: 0;
	}
	@include sm-width {
		height: 50vh;
		// position: relative;
	}
}
.chyron-wrap {
	width: calc(100% - 120px);
	max-width: $md-width;
	margin: auto;
	padding-left: 50px;
	position: relative;
	transition: opacity 300ms ease-in;
	.alerts & {
		opacity: 0;
		pointer-events: none;
	}
	@include md-width {
		height: 100%;
		width: 100%;
		padding-left: 0;
	}
	@include sm-width {
		
	}
}
.chyron {
	width: 100%;
	margin: auto;
	@include md-width {
		height: 100%;
	}
}
.chyron-inner {
	width: 100%;
	min-height: 150px;
	border: 3px solid;
	border-radius: 30px 100px 100px 30px;
	background-color: $darken;
	transition: width 300ms ease-in-out, max-height 300ms ease-in-out;
	position: relative;
	@include md-width {
		height: 200px;
		border-width: 3px 0 0 0;
		border-radius: 0;
	}
	@include sm-width {
		height: 100%;
	}
	.portrait {
		position: absolute;
		width: 120px;
		height: 100%;
		display: flex;
		left: -60px;
		top: -4px;
		z-index: 51;
		img {
			width: 100%;
			display: block;
			margin: auto;
		}
		@include md-width {
			width: 100px;
			height: 100px;
			top: -50px;
			left: 20px;
		}
	}
}
.captions {
	height: 100%;
	min-height: 120px;
	@include md-width {
		clear: both;
		padding-top: 60px;
	}
	.caption {
		padding: 20px 60px 20px 90px;
		text-align: left;
		overflow-y: auto;
		font-weight: 500;
		@include md-width {
			height: 100%;
			padding: 8px 15px 20px 15px;
			overflow-y: scroll;
			-webkit-overflow-scroll: touch;
		}
		.text {
			@include lg-text;
			float: right;
			width: 100%;
			max-width: #{$md-width - $portrait-width};
			@include md-width {
				width: 100%;
				max-width: unset;
			}
		}
		.vocab {
			border-bottom: 2px solid;
		}
		.vocab.clickable {
			cursor: pointer;
			transition: color 300ms ease-in-out;
		}
		&:not(.show) {
			display: none;
		}
	}
}

.audio-buttons {
	width: 25px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include md-width {
		width: auto;
		height: 60px;
		top: 0px;
    right: 0;
    flex-direction: row;
    justify-content: flex-end;
	}
}
.audio-button {
	width: 25px;
	height: 25px;
	float: left;
	margin: 0 0 10px 0;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	opacity: 0.5;
	transition: opacity 300ms ease-in-out;
	&.volume {
		background-image: url(../images/volume.svg);
		body.mute .audio-buttons & {
			background-position-y: bottom;
		}
	}
	&.playback {
		background-image: url(../images/playback.svg);
		body.playing .audio-buttons & {
			background-position-y: bottom;
		}
	}
	&:hover,
	&:focus {
		opacity: 1;
		cursor: pointer;
		outline: none;
	}
	@include md-width {
		width: 40px;
		height: 40px;
		margin: auto 10px;
	}
}

.arrow {
	width: 36px;
	height: 36px;
	position: absolute;
	top: calc(50% - 18px);
	opacity: 0.75;
	&:hover, &:focus {
		opacity: 1;
		cursor: pointer;
		outline: none;
	}
	&::before {
		content: "";
		width: 36px;
		height: 36px;
		background-image: url(../images/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
		@include md-width {
			width: 50px;
			height: 50px;
		}
	}
	
	&[data-dir="prev"] {
		left: -57px;
		&::before {
			transform: rotate(90deg);
			@include md-width {
				body.alerts .stream &,
				.stream:not(.show) & {
					transform: translateX(-50vw) rotate(90deg);
				}
			}
		}
	}
	&[data-dir="next"] {
		right: -50px;
		&::before {
			transform: rotate(-90deg);
			@include md-width {
				body.alerts .stream &,
				.stream:not(.show) & {
					transform: translateX(50vw) rotate(-90deg);
				}
			}
		}
	}

	#streams-view & {
		@include md-width {
			width: 50vw;
			height: calc(100vh - 200px);
			position: absolute;
			top: unset;
			bottom: 100%;
			&::before {
				top: calc(50% - 18px);
			}
			&[data-dir="prev"] {
				left: 0;
				right: unset;
				&::before {
					left: 10px;
					right: auto;
				}
				&:hover::before {
					transform: rotate(90deg);
				}
			}
			&[data-dir="next"] {
				right: 0;
				left: unset;
				&::before {
					right: 10px;
					left: auto;
				}
				&:hover::before {
					transform: rotate(-90deg);
				}
			}
		}
		@include sm-width {
			height: 50vh;
			top: -50vh;
		}
	}
}

$light-amt: 80%;
$lighter-amt: 10%;

.stream[data-slug="metal"] {
	.vocab {
		border-color: lighten($blue, $lighter-amt);
		&.clickable {
			&:hover, &:focus {
				color: lighten($blue, $lighter-amt);
			}
		}
	}
	.factoid .vocab {
		color: lighten($blue, $lighter-amt);
	}
	.chyron-inner {
		border-color: $blue-dark;
	}
}
.stream[data-slug="glass"] {
	.vocab {
		border-color: lighten($yellow, $lighter-amt);
		&.clickable {
			&:hover, &:focus {
				color: lighten($yellow, $lighter-amt);
			}
		}
	}
	.factoid .vocab {
		color: lighten($yellow, $lighter-amt);
	}
	.chyron-inner {
		border-color: $yellow-dark;
	}
}
.stream[data-slug="plastic"] {
	.vocab {
		border-color: lighten($red, $lighter-amt);
		&.clickable {
			&:hover, &:focus {
				color: lighten($red, $lighter-amt);
			}
		}
	}
	.factoid .vocab {
		color: lighten($red, $lighter-amt);
	}
	.chyron-inner {
		border-color: $red-dark;
	}
}
.stream[data-slug="paper"] {
	.vocab {
		border-color: lighten($green, $lighter-amt);
		&.clickable {
			&:hover, &:focus {
				color: lighten($green, $lighter-amt);
			}
		}
	}
	.factoid .vocab {
		color: lighten($green, $lighter-amt);
	}
	.chyron-inner {
		border-color: $green-dark;
	}
}
.stream[data-slug="landfill"] {
	.vocab {
		border-color: lighten($pink, $lighter-amt);
		&.clickable {
			&:hover, &:focus {
				color: lighten($pink, $lighter-amt);
			}
		}
	}
	.factoid .vocab {
		color: lighten($pink, $lighter-amt);
	}
	.chyron-inner {
		border-color: $pink-dark;
	}
}
////////////////////////////////////
///////////// FACTOIDS /////////////
////////////////////////////////////
.factoids {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	outline: none;
	transition: opacity 300ms ease-in-out;
	.alerts & {
		opacity: 0;
		pointer-events: none;
	}
	@include md-width {
		display: none;
	}
}
.factoid {
	width: 50%;
	min-width: 400px;
	max-width: 600px;
	margin: 0 0 15px 0;
	transform: translateX(60px);
	transition: transform 300ms ease-in-out;
	position: relative;
	body:not(.alerts) .stream.show & {
		transform: none;
		&.open {
			transform: translateX(-100%);
		}
	}
	&:focus {
		outline: none;
	}
}
.factoid-tab {
	height: 60px;
	width: 60px;
	position: absolute;
	left: -60px;
	top: 0;
	&:hover {
		cursor: pointer;
	}
	&::before {
		content: "";
		width: 50px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 60px 0 0 60px;
		background-color: $darken;
		overflow: hidden;
		transition: width 300ms ease-in-out;
	}
	&::after {
		content: "";
		width: 30px;
		height: 30px;
		position: absolute;
		right: 5px;
		top: 15px;
		opacity: .75;
		background-image: url(../images/plus.svg);
		background-position: bottom center;
		background-size: cover;
		transition: all 300ms ease-in-out;
	}
	&:hover::after {
		opacity: 1;
	}
	.factoid:not(.open) &:hover::before,
	.factoid:not(.open):focus &::before {
		width: 60px;
	}
	.factoid:not(.open) &:hover::after,
	.factoid:not(.open):focus &::after {
		right: 15px;
	}
	.factoid.open &::after {
		transform: rotate(45deg);
	}
}
.factoid-inner {
	width: 100%;
	min-height: 80px;
	padding: 15px 20px 20px 20px;
	background-color: $darken;
	color: white;
	border-radius: 0 0 0 20px;
	position: relative;
	user-select: text;
	.vocab {
		text-transform: capitalize;
		&::after {
			content: ": ";
			display: inline;
		}
	}
	p {
		@include lg-text;
		margin: 5px 0 0 0;
	}
}