@import "vars.scss";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: $orange;
	font-family: Helvetica, sans-serif;
	color: white;
	overflow: hidden;
	overflow-y: hidden;
	@include lg-text;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
}
html {
	overflow-x: scroll;
	overflow-y: scroll;
}
body {
	font-size: 20px;
	position: relative;
	@include md-width {
		content: "md";
	}
	@include sm-width {
		content: "sm";
	}
}
h2, h3, h4 {
	margin: 0 0 20px 0;
}
h2 {
	@include xl-text;
}
h3 {
	@include lg-text;
}
h4 {
	@include md-text;
}
* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}
a {
	color: inherit;
}
.screen-hidden {
	@include hide;
}
.mobile-show {
	@include hide;
	@include sm-width {
		@include show;
	}
}
.mobile-hidden {
	@include sm-width {
		@include hide;
	}
}
.label {
	@include md-text;
}
button.start {
	background-color: $green;
	color: white;
	border: none;
	padding: 10px 20px;
}

////////////////////////////////////
////////////// HEADER //////////////
////////////////////////////////////
#skip-to-intro {
	margin: 10px 0 0 20px;
	a {
		position: absolute;
		left: -999999px;
		&:focus {
			position: static;
		}
	}
	body:not(#intro) {
		display: none;
	}
}

header#header {
	width: 100%;
	position: absolute;
	left: 0px;
	z-index: 70;
	padding: 15px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	text-align: right;
	text-transform: lowercase;
	user-select: none;
	pointer-events: none;
	@include md-text;
}
#logo {
	width: 190px;
	margin-right: auto;
	img {
		width: 100%;
	}
	.view.show & {
		pointer-events: all;
	}
	body:not(#intro) & {
		opacity: 0;
	}
}
#lang-switch {
	position: relative;
	top: -6px;
}
.dropdown {
	position: relative;
	&:not(.open) [role="menu"] {
		opacity: 0;
		pointer-events: none;
	}
}
.option {
	padding: 0 0 6px 0;
	pointer-events: all;
	opacity: .75;
	transition: opacity 300ms ease-in-out;
	&[role="button"] {
		cursor: pointer;
		pointer-events: all;
		&::before {
			content: "";
			width: 18px;
			height: 18px;
	    position: relative;
	    left: -8px;
	    top: 4px;
			display: inline-block;
			background-image: url(../images/arrow.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.dropdown.open & {
				transform: rotate(180deg);	
			}
		}
	}
	&:hover, &:focus {
		opacity: 1;
		outline: none;
	}
	a {
		color: white;
		text-decoration: none;
		pointer-events: none;
		.dropdown.open & {
			pointer-events: all;
		}
	}
}

.tool-button {
	width: 30px;
	position: fixed;
	bottom: 15px;
	z-index: 70;
	opacity: .75;
	transition: opacity 300ms ease-in-out;
	pointer-events: all;
	&:hover, &:focus {
		opacity: 1;
		outline: none;
		cursor: pointer;
	}
	@include sm-width {
		display: none;
	}
}

#help-toggle {
	height: 30px;
	left: 15px;
	background-image: url(../images/help.svg);
	background-position: center top;
	background-size: cover;
	body:not(#streams) & {
		display: none;
	}
	body#streams.alerts & {
		background-position-y: bottom;
	}
}

#full-toggle {
	height: 23px;
	right: 15px;
	background-image: url(../images/full.svg);
	background-position: top center;
	background-size: cover;
	.full & {
		background-position-y: bottom;
	}
}

////////////////////////////////////
/////////////// VIEWS //////////////
////////////////////////////////////
.view {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms ease-in, background 500ms ease-in;
	&.show,
	body.alerts &#alerts-view {
		opacity: 1;
		pointer-events: all;
	}

}
.view-inner {
	max-width: $xl-width;
	height: 100%;
	margin: auto;
	position: relative;
	overflow: visible;
}

////////////////////////////////////
//////////// INTRO VIEW ////////////
////////////////////////////////////
#site-title {
	width: 50%;
	float: left;
	@include lg-text;
}
#intro-selection-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	display: flex;
	align-content: center;
	@include lg-text;
}
#intro-selection {
	width: 100%;
	display: table;
	margin: auto;
}
#intro-title {
	width: 60%;
	max-height: 50vh;
	display: block;
	margin: auto;
	background-image: url(../images/title.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	span {
		@include hide;
	}
	@include md-width {
		width: calc(100% - 20px);
	}
}
#intro-title-spacer {
	width: 100%;
	padding-bottom: 69%;
	opacity: 0;
}
// #intro-title-image-wrap {
// 	width: 100%;
// 	height: 100%;
// 	max-width: calc(50vh / .69);
// 	padding-bottom: 69%;
// 	display: block;
// 	margin: auto;
// 	position: relative;
// }
// #intro-title-image {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	margin: auto;
// }
#intro-tagline {
	margin-top: 20px;
	text-align: center;
	@include lg-text;
}
#intro-bottom {
	position: relative;
}
#loading {
	width: 300px;
	height: 150px;
	position: absolute;
	left: 0px;
	top: -50px;
	z-index: 1;
	transform: translateX(-300px);
	text-align: center;
	// pointer-events: none;
	background-image: url(../images/loading.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	user-select: none;
	span {
		position: absolute;
		left: 100px;
    top: 45px;
		color: black;
		text-transform: lowercase;
		font-weight: bold;
		@include lg-text;
		animation: blinking 1s infinite;
	}
	body.loading & {
		animation: driveIn 4s ease-out 1 forwards;
	}
	body.loaded & {
		animation: driveOut 4s ease-in 1 forwards;
	}
	// .view:not(.loading) & {
		// animation: driveOut 2s ease-in 1 forwards;
	// 	transform: translateX(100vw);
	// 	span {
	// 		opacity: 0;
	// 		animation-play-state: paused;
	// 		transition: opacity 2000ms ease-in-out;
	// 	}
	// }
}

@keyframes driveIn {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(calc(50vw - 150px));
	}
}

@keyframes driveOut {
	0% {
		transform: translateX(calc(50vw - 150px));
	}
	100% {
		transform: translateX(calc(100vw + 300px));
	}
}

@keyframes blinking {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: .75;
	}
}

#intro-button {
	font-weight: bold;
	border-radius: 5px;
	margin: 60px auto 0 auto;
	transition: opacity 100ms ease-in-out;
	// opacity: 0;
	// pointer-events: none;
	body.loaded & {
		opacity: 1;
		pointer-events: all;
	}
}
////////////////////////////////////
///////////// IMPORTS //////////////
////////////////////////////////////
@import "select.scss";
@import "streams.scss";
@import "alerts.scss";
