@import "vars.scss";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: $orange;
	font-family: "Helvetica Neue", sans-serif;
	color: white;
	overflow: hidden;
	overflow-y: hidden;
	font-weight: 500;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
}
html {
	@include base-text;
}
body { 
	position: relative;
	@include md-width {
		content: "md";
	}
	@include sm-width {
		content: "sm";
	}
}
h2, h3, h4 {
	margin: 0 0 20px 0;
}
h2 {
	@include xl-text;
}
h3 {
	@include lg-text;
}
h4 {
	@include md-text;
}
* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}
a {
	color: inherit;
}
.screen-hidden {
	@include hide;
}
.mobile-show {
	@include hide;
	@include sm-width {
		@include show;
	}
}
.mobile-hidden {
	@include sm-width {
		@include hide;
	}
}
.label {
	@include md-text;
}
button.start {
	background-color: $green;
	color: white;
	border: none;
	padding: 10px 20px;
}

////////////////////////////////////
////////////// HEADER //////////////
////////////////////////////////////
#skip-to-intro {
	margin: 10px 0 0 20px;
	a {
		position: absolute;
		left: -999999px;
		&:focus {
			position: static;
		}
	}
	body:not(#intro) {
		display: none;
	}
}

header#header {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 70;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	text-align: right;
	text-transform: lowercase;
	user-select: none;
	pointer-events: none;
	@include md-text;
	@include sm-width {
		padding: 10px;
		body.alerts &,
		body#select & {
			background-color: $darken;
		}
	}
}
#logo {
	width: 190px;
	margin-right: auto;
	transition: opacity 300ms $ease;
	pointer-events: all;
	img {
		width: 100%;
	}
	body#streams & {
		opacity: 0;
		pointer-events: none;
	}
	@include sm-width {
		width: auto;
		img {
			width: auto;
			max-height: 24px;
		}
	}
}

#header-items {
	display: flex;
	align-items: baseline;
	@include sm-width {
		
	}
}
.header-item {
	margin-left: 30px;
	pointer-events: all;
}

#help-toggle {
	opacity: .75;
	transition: opacity 300ms $ease;
// 	height: 30px;
// 	left: 15px;
// 	background-image: url(../images/help.svg);
// 	background-position: center top;
// 	background-size: cover;
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
	body:not(#streams) & {
		opacity: 0;
		pointer-events: none;
	}
// 	body#streams.alerts & {
// 		background-position-y: bottom;
// 	}
}

#lang-switch {
	// position: relative;
	// top: -6px;
	padding-left: 10px;
}
.dropdown {
	position: relative;
	&:not(.open) [role="menu"] {
		opacity: 0;
		pointer-events: none;
		position: absolute;
	}
}
.option {
	padding: 0 0 6px 0;
	pointer-events: all;
	opacity: .75;
	transition: opacity 300ms $ease;
	&[role="button"] {
		cursor: pointer;
		pointer-events: all;
		&::before {
			content: "";
			width: 18px;
			height: 18px;
	    position: relative;
	    left: -8px;
	    top: 4px;
			display: inline-block;
			background-image: url(../images/arrow.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.dropdown.open & {
				transform: rotate(180deg);	
			}
		}
	}
	&:hover, &:focus {
		opacity: 1;
		outline: none;
	}
	a {
		color: white;
		text-decoration: none;
		pointer-events: none;
		.dropdown.open & {
			pointer-events: all;
		}
	}
}

#full-toggle {
	width: 27px;
	height: 20px;
	position: relative;
	top: 3px;
	opacity: .75;
	background-image: url(../images/full.svg);
	background-position: top center;
	background-size: cover;
	transition: opacity 300ms $ease;
	pointer-events: all;
	&:hover, &:focus {
		opacity: 1;
		outline: none;
		cursor: pointer;
	}
	@include md-width {
		bottom: 210px;
	}
	@include sm-width {
		display: none;
	}
	.full & {
		background-position-y: bottom;
	}
}

////////////////////////////////////
/////////////// VIEWS //////////////
////////////////////////////////////
.view {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 200ms $ease, background 200ms $ease;
	&.show,
	body.alerts &#alerts-view {
		opacity: 1;
		pointer-events: all;
	}

}
.view-inner {
	max-width: $xl-width;
	height: 100%;
	margin: auto;
	position: relative;
	overflow: visible;
}



////////////////////////////////////
///////////// TOOLTIPS /////////////
////////////////////////////////////
.tooltip {
	position: absolute;
	top: calc(100% - 1px);
	opacity: 0;
	pointer-events: none;
	transition: opacity 100ms $ease, top 100ms $ease;
	*:hover > & {
		opacity: 1;
	}
}
.tooltip-inner {
	position: relative;
	padding: 5px 15px;
	background-color: $darken;
	color: white;
	border-radius: 20px;
	white-space: nowrap;
	p {
		@include sm-text;
		margin: 5px 0 0 0;
	}
}
.tooltip-arrow {
	width: 1em;
	height: 1em;
	display: table;
	margin: auto;
	border-radius: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid $darken;
	z-index: 21;
	&.small {
		font-size: 8px;
	}
}

////////////////////////////////////
///////////// IMPORTS //////////////
////////////////////////////////////
@import "intro.scss";
@import "select.scss";
@import "streams.scss";
@import "alerts.scss";