@import "vars.scss";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: $orange;
	font-family: Helvetica, sans-serif;
	color: white;
	overflow: hidden;
	overflow-y: hidden;
	@include lg-text;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
}
html {
	overflow-x: scroll;
	overflow-y: scroll;
}
body {
	// min-width: $sm-width;
	// min-height: $sm-width;
	font-size: 20px;
	position: relative;
}
h2, h3, h4 {
	margin: 0 0 20px 0;
}
h2 {
	@include xl-text;
}
h3 {
	@include lg-text;
}
h4 {
	@include md-text;
}
* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}
a {
	color: inherit;
}
.screen-hidden {
	@include hide;
}
.mobile-show {
	@include hide;
	@include sm-width {
		@include show;
	}
}
.mobile-hidden {
	@include sm-width {
		@include hide;
	}
}
.label {
	@include md-text;
}
button.start {
	background-color: $green;
	color: white;
	border: none;
	padding: 10px 20px;
}

////////////////////////////////////
////////////// HEADER //////////////
////////////////////////////////////
#skip-to-intro {
	margin: 10px 0 0 20px;
	a {
		position: absolute;
		left: -999999px;
		&:focus {
			position: static;
		}
	}
	body:not(#intro) {
		display: none;
	}
}

header#header {
	width: 100%;
	position: absolute;
	left: 0px;
	z-index: 70;
	padding: 15px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	text-align: right;
	text-transform: lowercase;
	user-select: none;
	pointer-events: none;
	@include md-text;
}
#logo {
	width: 190px;
	margin-right: auto;
	img {
		width: 100%;
	}
	body#intro & {
		pointer-events: all;
	}
	body:not(#intro) & {
		opacity: 0;
	}
}
.dropdown {
	position: relative;
	&:not(.open) [role="menu"] {
		opacity: 0;
		pointer-events: none;
	}
}
.option {
	padding: 0 0 6px 0;
	pointer-events: all;
	opacity: .75;
	transition: opacity 300ms ease-in-out;
	&[role="button"] {
		cursor: pointer;
		pointer-events: all;
		&::before {
			content: "";
			width: 18px;
			height: 18px;
	    position: relative;
	    left: -8px;
	    top: 4px;
			display: inline-block;
			background-image: url(../images/arrow.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.dropdown.open & {
				transform: rotate(180deg);	
			}
		}
	}
	&:hover, &:focus {
		opacity: 1;
		outline: none;
	}
	a {
		color: white;
		text-decoration: none;
		pointer-events: none;
		.dropdown.open & {
			pointer-events: all;
		}
	}
}

.tool-icon {
	width: 30px;
	position: fixed;
	bottom: 15px;
	z-index: 70;
	opacity: .75;
	transition: opacity 300ms ease-in-out;
	pointer-events: all;
	&:hover, &:focus {
		opacity: 1;
		outline: none;
		cursor: pointer;
	}
	@include sm-width {
		display: none;
	}
}

#help-toggle {
	height: 30px;
	left: 15px;
	background-image: url(../images/help.svg);
	background-position: center;
	background-size: contain;
	body:not(#streams) & {
		display: none;
	}
}

#full-toggle {
	height: 23px;
	right: 15px;
	background-image: url(../images/full.svg);
	background-position: top center;
	background-size: cover;
	.full & {
		background-position-y: bottom;
	}
}

////////////////////////////////////
/////////////// VIEWS //////////////
////////////////////////////////////
.view {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms ease-in, background 500ms ease-in;
	#intro &#intro-view,
	#select &#select-view,
	#streams &#streams-view,
	.alerts &#alerts-view {
		opacity: 1;
		display: block;
		pointer-events: all;
	}
}
.view-inner {
	max-width: $xl-width;
	height: 100%;
	margin: auto;
	position: relative;
	overflow: visible;
}
// body#intro #intro-view,
// body#selection #selection-view,
// body#streams #streams-view,
// body.alerts #alerts-view {
// 	opacity: 1;
// 	display: block;
// 	pointer-events: all;
// }

// transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
// background-image: url(../images/arrow.svg);

////////////////////////////////////
//////////// INTRO VIEW ////////////
////////////////////////////////////
#intro-view {
}
#site-title {
	width: 50%;
	float: left;
	@include lg-text;
}
#intro-selection-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	display: flex;
	align-content: center;
	@include lg-text;
}
#intro-selection {
	margin: auto;
}
#intro-title {
	display: table;
	margin: auto;
	padding: 20px;
	img {
		width: 60%;
		max-height: 50vh;
		height: auto;
		margin: auto;
		display: block;
	}
}
#intro-tagline {
	text-align: center;
	@include lg-text;
}
#intro-bottom {
	position: relative;
}
#loading {
	width: 300px;
	height: 150px;
	position: absolute;
	left: calc(50% - 150px);
	top: -50px;
	z-index: 1;
	text-align: center;
	pointer-events: none;
	background-image: url(../images/loading.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 2000ms ease-in-out;
	span {
		position: absolute;
		left: 100px;
    top: 45px;
		color: black;
		text-transform: lowercase;
		font-weight: bold;
		@include lg-text;
		animation: blinking 1s infinite;
	}
	.view:not(.loading) & {
		transform: translateX(100vw);
		span {
			opacity: 0;
			animation-play-state: paused;
			transition: opacity 2000ms ease-in-out;
		}
	}
}

@keyframes blinking {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: .75;
	}
}

#intro-button {
	font-weight: bold;
	border-radius: 5px;
	margin: 60px auto 0 auto;
	transition: opacity 100ms ease-in-out;
	.view.loading & {
		opacity: 0;
		pointer-events: none;
	}
}
////////////////////////////////////
///////////// IMPORTS //////////////
////////////////////////////////////
@import "select.scss";
@import "streams.scss";
@import "alerts.scss";
