$blue: #043fab;
$teal: #3f8dba;
$yellow: #f2b621;
$orange: #fc652c;
$pink: #cd718a;
$red: #b32618;
$lime: #adf940;
$forest: #036a47;
$green: #00995c;
$lightgreen: #00aa64;

$blue-dark: #012e7f;
$green-dark: #025237;
$yellow-dark: #ac8118;
$orange-dark: #be4216;
$pink-dark: #9e465f;
$red-dark: #861c11;

$black: #000;
$darken: rgba(#2e2e2e, 0.9);

[data-color="blue"] {
  background-color: $blue;
}
[data-color="teal"] {
  background-color: $teal;
}
[data-color="yellow"] {
  background-color: $yellow;
}
[data-color="orange"] {
  background-color: $orange;
}
[data-color="pink"] {
  background-color: $pink;
}
[data-color="black"] {
  background-color: $black;
}
[data-color="green"] {
  background-color: $green;
}
[data-color="lime"] {
  background-color: $lime;
}
[data-color="forest"] {
  background-color: $forest;
}

@mixin xs-text {
  font-size: 12.8px;
  line-height: 16px;
}

@mixin sm-text {
  font-size: 16px;
  line-height: 22px;
}

@mixin md-text {
  font-size: 20px;
  line-height: 22px;
}

@mixin lg-text {
  font-size: 25px;
  line-height: 30px;
}

@mixin xl-text {
  font-size: 50px;
  line-height: 55px;
}

@mixin xxl-text {
  font-size: 150px;
  line-height: 160px;
}

$portrait-width: 160px;

$sm-width: 640px;
$md-width: 900px;
$lg-width: 1020px;
$xl-width: 1440px;

@mixin sm-width {
  @media (max-width: $sm-width) {
    @content;
  }
}

@mixin md-width {
  @media (max-width: $md-width) {
    @content;
  }
}

@mixin lg-width {
  @media (max-width: $lg-width) {
    @content;
  }
}

@mixin xl-width {
  @media (max-width: $xl-width) {
    @content;
  }
}

$sm-height: 710px;

@mixin sm-height {
  @media (max-height: $sm-height) {
    @content;
  }
}

@mixin hide {
  position: absolute !important;
  left: -999999px !important;
}
@mixin show {
  position: static !important;
  left: unset !important;
}