-
	var rootPath = htmlWebpackPlugin.options.rootPath

footer
	#footer-inner
		#footer-text
			p The Sanitation Foundation, formerly known as the Foundation for New York’s Strongest, is the official nonprofit organization of the New York City Department of Sanitation.

			p
				div 125 Worth Street Room 722
				div New York, NY 10013
				div 646-885-4928
				a(href="info@sanitationfoundation.org") info@sanitationfoundation.org

			p ©2020 sanitation foundation, Inc. All rights reserved.
		#footer-caduceus
			img(src=rootPath="assets/images/caduceus.png")