mixin sceneSvg(slug)
	case slug
		when 'barge-paper'
			include ../images/scenes/barge-paper/scene.svg
		when 'corrugator'
			include ../images/scenes/corrugator/scene.svg
		when 'curbside-paper'
			include ../images/scenes/curbside-paper/scene.svg
		when 'end-paper'
			include ../images/scenes/end-paper/scene.svg
		when 'fish-bowl'
			include ../images/scenes/fish-bowl/scene.svg
		when 'garage'
			include ../images/scenes/garage/scene.svg
		when 'mts'
			include ../images/scenes/mts/scene.svg
		when 'pratt'
			include ../images/scenes/pratt/scene.svg
		when 'press'
			include ../images/scenes/press/scene.svg
		when 'pulper'
			include ../images/scenes/pulper/scene.svg
		when 'quality-paper'
			include ../images/scenes/quality-paper/scene.svg
		when 'storage'
			include ../images/scenes/storage/scene.svg
		when 'tipping'
			include ../images/scenes/tipping/scene.svg
		when 'weighing'
			include ../images/scenes/weighing/scene.svg
		when 'winder'
			include ../images/scenes/winder/scene.svg