#select-view {
	svg {
		width: auto;
		height: 100%;
	}
}

.bins-wrap {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	flex: 1;
	pointer-events: none;
	transition: transform 300ms ease-in-out;
}
#bins {
	z-index: 30;
	body.intro & {
		display: none;
	}
}
#bin-backs {
	z-index: 10;
}
.bin {
	width: 250px;
	height: 300px;
	margin: 0 15px 0 15px;
	transform: translateY(30px);
	position: relative;
	float: left;
	transition: transform 100ms ease-in;
	pointer-events: none;
	img {
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		transform: translate3d(0,0,0);
	}
	&.open {
		transform: translateY(1px);	
	}
	body.intro & {
		transform: translateY(100%);
		transition: all 500ms ease-in;
	}
	@include lg-under {
		width: 150px;
		height: 200px;
		transform: translateY(50px);
		&.open {
			transform: translateY(30px);	
		}
	}
}
.bin-front {
	bottom: 0;
}
.bin-lid {
	position: absolute;
	bottom: 122px;
	transition: transform 400ms ease;
	@include lg-under {
		bottom: 73px;
	}
}
.bin-back {
	bottom: 137px;
	@include lg-under {
    bottom: 81px;
	}
}
.bin.open .bin-lid {
	transform: translateX(100px) translateY(-60px) rotate(45deg);
	/*transform: translateX(190px) translateY(-30px) rotate(105deg);*/
}

#items-wrap {
	width: 100%;
	height: 100% !important;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
	body#select &, body#pre-select & {
		opacity: 1;
	}
}

#stamp {
	width: 320px;
	height: 90px;
	position: absolute;
	left: 20px;
	top: 20px;
	opacity: 0;
	pointer-events: none;
}

#select-view {
	.view-inner {
    padding-top: 55px;
		padding-bottom: 100px;
	}
}
.item {
	position: absolute !important;
	height: auto;
	z-index: 20;
	cursor: pointer;
	transition: opacity 300ms ease-in;
	img {
		width: 100%;
		height: auto;
	}
	&:hover, &.dragging {
		z-index: 21;
	}
	&:hover {
		cursor: grab;
	}
	&.dragging {
		cursor: grabbing;
	}
	&.hovering {
		z-index: 22;
	}
	&.centering {
		transition: all 100ms ease-in;
	}
	&.dropping {
		top: 100% !important;
		opacity: 0;
		transition: all 300ms ease-in;
		img {
			transition: all 300ms ease-in;
			transform: scale(.5);
		}
	}
	&.returning {
		top: calc(100% - 250px);
		transition: all 300ms ease-in;
	}
	&.dropping .tooltip,
	&.opening .tooltip,
	&.returning .tooltip {
		opacity: 0 !important;
	}
}
#intro .item {
	pointer-events: none;
	/*left: unset !important;*/
	/*top: unset !important;*/
}
.item {
	// min-width: 100px;
	// max-width: 200px;
}


$aluminum-foil: 6%;
$broken-glass: 12%;
$cardboard: 17%;
$chip-bag: 8%;
$detergent-bottle: 9%;
$food-can: 6%;
$glass-bottles: 10%;
$glass-jar: 7%;
$milk-carton: 8%;
$newspaper: 13%;
$plastic-bag: 14%;
$plastic-bottle: 7%;
$soda-can: 4%;
$toothpaste: 10%;


$items: (
	"aluminum-foil": 6,
	"broken-glass": 12,
	"cardboard": 17,
	"chip-bag": 8,
	"detergent-bottle": 9,
	"food-can": 6,
	"glass-bottles": 10,
	"glass-jar": 7,
	"milk-carton": 8,
	"newspaper": 13,
	"plastic-bag": 14,
	"plastic-bottle": 7,
	"soda-can": 4,
	"toothpaste": 10
);

@each $name, $scale in $items {
  [data-item="#{$name}"] {
    width: $scale * 1%;
		@include lg-under {
			width: #{$scale * 1% / 2};
			min-width: #{$scale * 10px};
		}
  }
}